{
  "extends": "airbnb-base",
  "rules": {
    indent: ['error', 2, {
      MemberExpression: 0,
    }],
    "no-underscore-dangle": ["error", { "allowAfterThis": true }],
    "class-methods-use-this": "off",
    "import/no-unresolved": "off",
    "import/no-extraneous-dependencies": "off",
    "function-paren-newline": "off",
    "arrow-parens": ["error", "always"],
    "no-plusplus": "off",
    "lines-between-class-members": "off",
    "operator-linebreak": ["error", "after"]
  }
}
