{
  "extends": ["../.eslintrc", "plugin:react/recommended"],
  "env": {
    "browser": true,
  },
  "rules": {
    "import/prefer-default-export": "off"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
